<div class="grid">
  <div class="col-4">
    <div class="text-xl font-semibold flex justify-content-between align-items-center h-5rem">Custom Dashboard</div>
    <p-card header="Dashboard for LINQ" [style]="{'margin-bottom': '2em'}">
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </p>
      <ng-template pTemplate="footer">
        <p-button label="View" icon="pi pi-eye"></p-button>
        <p-button label="Delete" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
    </ng-template>
    </p-card>
    <p-card header="Dashboard for PET">
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </p>
      <ng-template pTemplate="footer">
        <p-button label="View" icon="pi pi-eye"></p-button>
        <p-button label="Delete" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
    </ng-template>
    </p-card>
  </div>
  <div class="col-8">
    <div class="flex justify-content-between align-items-center h-5rem">
      <div class="text-xl font-semibold">Generic Dashboard</div>
      <div class="flex align-items-center">
        <p-button label="Create Dashboard" icon="pi pi-plus-circle" styleClass="p-button-raised p-button-text m-3"
          (click)="add()"></p-button>
        <p-button label="Import Dashboard" icon="pi pi-file-import"
          styleClass="p-button-raised p-button-text"></p-button>
      </div>
    </div>
    <div class="grid">
      <div *ngFor="let rule of rules" class="relative col-6">
        <p-card>
          <div class="flex justify-content-center align-items-center m-2 text-xl font-semibold">
            {{rule.name}}
          </div>
          <div class="flex justify-content-center align-items-center m-2 font-light text-sm">
            {{rule.desc}}
          </div>
          <ul class="list-disc">
            <li *ngFor="let content of rule.content">
              <i class="pi mx-1"
                [ngClass]="{'pi-chart-pie': content.type.code === 'pie', 'pi-chart-line': content.type.code === 'line', 'pi-chart-bar': content.type.code === 'bar', 'pi-table': content.type.code === 'table', 'pi-credit-card': content.type.code === 'card'}">
              </i>
              {{content.title}}
            </li>
          </ul>
          <div class="flex justify-content-between align-items-center m-2 font-light text-sm">
            <div>
              <i class="pi pi-file-export cursor-pointer" (click)="add()"></i>
              <i class="pi pi-cog mx-2 cursor-pointer" (click)="edit(rule)"></i>
              <i class="pi pi-trash text-red-500 cursor-pointer" (click)="delete(rule)"></i>
            </div>
            <p-button label="View Dashboard" icon="pi pi-eye"
              styleClass="p-button-raised p-button-text p-button-success" (click)="viewDashboard(rule)"></p-button>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>