<div class="flex bg-gray-800 h-3rem text-white justify-content-between align-items-center">
  <div></div>
  <div class="flex mx-4 align-items-center">
    <div class="w-8rem border-right-black pr-2" >
      <div class="text-sm font-bold">DEV</div>
      <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis text-sm">mongo@jhfd fjhdfhd fjdhfjgd fdfd
      </div>
    </div>
    <i class="pi pi-power-off pl-4 cursor-pointer" (click)="logOut()"></i>
  </div>
</div>