
<p-card
    [style]="{'margin-bottom': '2em','background-color': '#616161','color': 'white'}">
    <div class="text-lg flex justify-content-center m-2">{{title}}</div>
    <div class="text-xl font-semibold flex justify-content-center m-2">{{value}}</div>
</p-card>