<p-table [value]="data" [lazy]="true" (onLazyLoad)="loadData($event)" [paginator]="true" [rows]="5" [loading]="loading"
    [showCurrentPageReport]="true" [totalRecords]="totalRecords"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5, 10,20]">">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of column">
                {{col.label}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td *ngFor="let col of column">
                {{data[col.key]}}
            </td>
        </tr>
    </ng-template>
</p-table>