<div class="flex h-screen">
  <div class="flex-none bg-gray-800 w-16rem text-white">
    <div *ngFor="let item of menu" class="border-bottom-black">
      <div class="flex align-items-center h-3rem cursor-pointer"
        [ngClass]="{'highlight-gray': item.highlighted, 'hover-gray': item.options.length === 0}"
        (click)="item.options.length === 0 ? dbSelected({}) : ''">
        <i class="pi m-2" [ngClass]="item.icon"></i>
        <span>{{item.label}}</span>
      </div>
      <div *ngIf="item.options && item.options.length > 0" class="mb-2">
        <div class="w-100 px-5 p-1 cursor-pointer hover-gray text-sm font-light" *ngFor="let option of item.options"
          [ngClass]="{'highlight-gray': option.highlighted}" (click)="dbSelected(option)">
          <div>{{option.label}}</div>
          <div class=" white-space-nowrap overflow-hidden text-overflow-ellipsis">{{option.value}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-grow-1 m-6">
    <div class=" font-bold text-xl mb-3">
      Connect to MONGO Database
    </div>
    <p-card class="w-full">
      <div class="mx-5">
        <div class=" font-bold mb-2">
          Enter connection string (SRV or Standard) :
        </div>
        <span class="p-input-icon-right w-full">
          <i *ngIf="loading" class="pi pi-spin pi-spinner"></i>
          <input type="text" class="w-full" pInputText [(ngModel)]="DBURL" (ngModelChange)="evalFavSelected()"
            placeholder="Connection string">
        </span>
        <div class=" font-bold mb-2 mt-4">
          Enter Name of Database :
        </div>
        <span class="p-input-icon-right w-full">
          <input type="text" class="w-full" pInputText [(ngModel)]="label" (ngModelChange)="evalFavSelected()"
            placeholder="Database Name">
        </span>
        <div class="flex justify-content-end my-3">
          <button *ngIf="!favSelected" pButton type="button" label="Add to Favotites"
            [disabled]="DBURL.length === 0 || label.length === 0" (click)="addToFav()"></button>
          <button *ngIf="favSelected" pButton type="button" class="p-button-danger" label="Remove from Favotites"
            (click)="removeFav()"></button>
          <button pButton type="button" label="Connect" class="p-button-success ml-3"
            [disabled]="DBURL.length === 0 || label.length === 0 || loading" (click)="loadDB()"></button>
        </div>
      </div>
    </p-card>
    <div *ngIf="errorMsg"
      class="flex justify-content-center text-sm font-semibold text-yellow-800  bg-yellow-200 my-3 p-2">
      {{errorMsg}}
    </div>
  </div>

  <div class="flex-none flex align-items-center justify-content-center w-20rem">
    <div class="mr-4">
      <div class="text-xl font-bold">New to DASHI?</div>
      <div class="text-lg font-light">
        In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form
        of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder
        before final copy is available.
      </div>
      <a href="./">Learn more</a>
      <div class="text-xl pt-5 font-bold">Contact Us</div>
      <div class="text-lg py-3 border-bottom-black font-light">
        We are here to meet any business need and to be part of you digital jouerny.
      </div>
      <div class="pt-3 font-light">
        <span class="font-bold">Phone : </span>1 (232) 252 55 22
      </div>
      <div class="pt-1 font-light">
        <span class="font-bold">Location : </span>: 75 Street Sample, WI 63025
      </div>
      <div class="pt-1 font-light">
        <span class="font-bold">Mail : </span>test.test@test.com
      </div>
    </div>
  </div>
</div>