<div class="flex justify-content-between m-3">
    <i class="pi pi-arrow-circle-left cursor-pointer text-xl" (click)="back()"></i>
    <span class="text-xl font-semibold">{{rule.name}}</span>
    <div></div>
</div>
<div class="flex h-screen">
    <div class="flex-none w-20rem">
        <p-accordion [multiple]="true">
            <p-accordionTab *ngFor="let filter of rule.filters" [header]="filter.label" [selected]="true">
                <div *ngIf="filter.data">
                    <div *ngFor="let d of filter.data" class="m-2">
                        <p-checkbox [name]="filter.key" [value]="d" [label]="d" (onChange)="updateQuery()"
                            [(ngModel)]="selectedValues[filter.key]"></p-checkbox>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>

    <div class="flex-grow-1 ml-3">
        <div class="grid">
            <div *ngFor="let content of rule.content" [ngClass]="content.width">
                <app-table *ngIf="content.type?.code === 'table'" [column]="content.data" [collection]="rule.collection"
                    [query]="query" [schema]="schema"></app-table>
                <app-card *ngIf="content.type?.code === 'card'" [title]="content.title" [key]="content.key"
                    [collection]="rule.collection" [query]="query" [schema]="schema"></app-card>
                <app-chart *ngIf="content.type.code === 'pie' || content.type.code === 'line' || content.type.code === 'bar'" [type]="content.type.code" [title]="content.title" [group]="content.group" [data]="content.data"
                    [collection]="rule.collection" [query]="query" [schema]="schema"></app-chart>

            </div>
        </div>
        <!-- <p-table [value]="data" [lazy]="true" (onLazyLoad)="loadData($event)" [paginator]="true" [rows]="10"
        [loading]="loading" [showCurrentPageReport]="true"  [totalRecords]="totalRecords"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of rule.content">
                        {{col.label}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td *ngFor="let col of rule.content">
                            {{data[col.key]}}
                    </td>
                </tr>
            </ng-template>
        </p-table> -->
    </div>
</div>