@import url('/node_modules/primeng/resources/themes/saga-blue/theme.css');
@import url('/node_modules/primeflex/primeflex.min.css');
@import url('/node_modules/primeng/resources/primeng.min.css');
@import url('/node_modules/primeicons/primeicons.css');

body {
    font-family: sans-serif;
}

.border-bottom-black {
    border-bottom: 1px solid black;
}

.border-right-black {
    border-right: 1px solid black;
}

.hover-gray:hover {
    background: gray;
}

.highlight-gray {
    background: gray;
}

.p-card .p-card-content {
    padding: 0!important;
}

.dock-right {
    position: absolute;
    top: 25px;
    right: 25px;
}

.p-splitbutton button {
    padding: 0;
}

.p-dropdown {
    width: 100%;
}