<p-accordion>
    <p-accordionTab header="Dashboard Details" [selected]="true">
        <div class="grid">
            <div class="col-4">
                <input type="text" class="w-full" pInputText [(ngModel)]="rule.name" placeholder="Enter name">
            </div>
            <div class="col-4">
                <input type="text" class="w-full" pInputText [(ngModel)]="rule.desc" placeholder="Enter Subtitle">
            </div>
            <div class="col-4">
                <p-dropdown [options]="collections" [(ngModel)]="rule.collection" placeholder="Select Collection"
                    (onChange)="fetchMongoFields()"></p-dropdown>
            </div>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Filter Details" [disabled]="rule.collection?.length === 0">
        <div *ngFor="let filter of rule.filters; let i = index" class="grid">
            <div class="col-4">
                <input type="text" class="w-full" pInputText [(ngModel)]="filter.label"
                    placeholder="Enter Filter Label">
            </div>
            <div class="col-4">
                <p-dropdown [options]="mongoFields" [(ngModel)]="filter.key" placeholder="Select Field"></p-dropdown>
            </div>
            <div class="flex align-items-center">
                <i class="pi pi-plus-circle m-2 cursor-pointer" (click)="addFilter()"></i>
                <i *ngIf="rule.filters?.length > 1" class="pi pi-trash text-red-500 cursor-pointer"
                    (click)="removeFilter(i)"></i>
            </div>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Content Details" [disabled]="rule.collection?.length === 0">
        <div class="grid">
            <div class="col-3"><p-dropdown [options]="types" [(ngModel)]="type" optionLabel="label"></p-dropdown></div>
            <div class="col-3"><p-dropdown [options]="['col-12', 'col-8' ,'col-6', 'col-4', 'col-3', 'col-2']"
                    [(ngModel)]="width"></p-dropdown></div>
            <div class="col-3"><input type="text" class="w-full" pInputText [(ngModel)]="title"
                    placeholder="Enter Title"></div>
            <div class="col-3 flex align-items-center"><i class="pi pi-plus-circle m-2 cursor-pointer"
                    (click)="addContent()"></i></div>
        </div>
        <div *ngFor="let content of rule.content; let i = index"
            class="grid m-3 border-500 surface-overlay border-3 border-round col-12">
            <div class="font-semibold col-4 my-2 col-6">
                <i class="pi mx-1"
                [ngClass]="{'pi-chart-pie': content.type.code === 'pie', 'pi-chart-line': content.type.code === 'line', 'pi-chart-bar': content.type.code === 'bar', 'pi-table': content.type.code === 'table', 'pi-credit-card': content.type.code === 'card'}">
              </i>
                {{content.title}} (Width {{content.width}} out of col-12)</div>
            <div class="flex align-items-center col-6"><i class="pi pi-trash text-red-500 cursor-pointer"
                    (click)="removeContent(i)"></i></div>

            <div *ngIf="content.type.code === 'table'" class="col-12">
                <div *ngFor="let data of content.data; let j = index" class="grid col-12">
                    <div class="col-4">
                        <input type="text" class="w-full" pInputText [(ngModel)]="data.label"
                            placeholder="Enter Column Name">
                    </div>
                    <div class="col-4">
                        <p-dropdown [options]="mongoFields" [(ngModel)]="data.key"
                            placeholder="Select Field"></p-dropdown>
                    </div>
                    <div class="flex align-items-center">
                        <i class="pi pi-plus-circle m-2 cursor-pointer" (click)="addData(content.data)"></i>
                        <i *ngIf="content.data?.length > 1" class="pi pi-trash text-red-500 cursor-pointer"
                            (click)="removeData(i, content.data)"></i>
                    </div>
                </div>
            </div>

            <div *ngIf="content.type.code === 'card'" class="grid col-12">
                    <div class="col-4">
                        <p-dropdown [options]="mongoFields" [(ngModel)]="content.key" placeholder="Select Field"></p-dropdown>
                    </div>
            </div> 

            <div *ngIf="content.type.code === 'pie' || content.type.code === 'line' || content.type.code === 'bar'" class="col-12">
                <div *ngFor="let data of content.data; let j = index" class="grid col-12">
                    <div class="col-4">
                        <p-dropdown [options]="mongoFields" [(ngModel)]="content.group"
                            placeholder="Select Group Field"></p-dropdown>
                    </div>
                    <div class="col-4">
                        <p-dropdown [options]="mongoFields" [(ngModel)]="data.accu"
                            placeholder="Select Accumulator Field"></p-dropdown>
                    </div>
                    <div class="flex align-items-center">
                        <i class="pi pi-plus-circle m-2 cursor-pointer" (click)="addChartData(content.data)"></i>
                        <i *ngIf="content.data?.length > 1" class="pi pi-trash text-red-500 cursor-pointer"
                            (click)="removeData(j, content.data)"></i>
                    </div>
                </div>
        </div>       

        </div>
    </p-accordionTab>
</p-accordion>

<div class="flex justify-content-center m-3">
    <p-button label="Back" styleClass="p-button-raised m-2" (click)="back()"></p-button>
    <p-button label="Save" styleClass="p-button-raised m-2 p-button-success" (click)="save()"></p-button>
</div>